{% extends 'base.html.twig' %}

{% block title %}Your Bookings !{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-5">My Bookings </h1>
        <div class="alert alert-info mt-5">
           <p>Find below all your past and future reservations </p>
        </div>
        {% for booking in app.user.bookings %}
        {% set ad = booking.ad %}
            <div class="row mt-3">
                <div class="col-md-4">
                   <img src="{{ ad.coverImage }}" alt="picture of Ad {{ ad.title }}" class="img-fluid">   

                    <div class="mt-3">

                   {% set comment = ad.commentFromAuthor(app.user) %}
                   {% if comment is not null %}
                        <strong>Rate : </strong>   {% include 'partials/rating.html.twig' with { 'rating': comment.rating } %}
                   {% else %}        
                       You have not yet give a rate.
                        <a href="{{ path('booking_show', {'id': booking.id }) }}#comment">I Give Rate Now !</a>
                   {% endif %}
                   
                   </div>       
                 </div>
               
               <div class="col-md-8">
                  <h4>{{ ad.title }}</h4>
                  <p>
                      Booking Number <strong>{{ booking.id }}</strong><br>
                      of {{ booking.startDate | date ('d/m/Y')}}  to
                         {{ booking.endDate | date ('d/m/Y')}} 
                         ({{ booking.amount | number_format(2, ',', ' ') }}&euro;)  
                  </p>
                  <a href="{{ path('booking_show', {'id' : booking.id })}}" class="btn btn-info">More info </a>
               </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

