{% extends 'base.html.twig' %}

{% block title %}Your Bookings !{% endblock %}

{% block body %}
    <div class="container">
        <h1>My Bookings </h1>
        <div class="alert alert-info mt-5">
           <p>Find below all your past and future reservations </p>
        </div>
        {% for booking in app.user.bookings %}
        {% set ad = booking.ad %}
            <div class="row mt-3">
               <div class="col-4">
                  <img src="{{ ad.coverImage }}" alt="picture of Ad {{ ad.title }}" class="img-fluid">
               </div>
               <div class="col-8">
                  <h4>{{ ad.title }}</h4>
                  <p>
                      Booking Number <strong>{{ booking.id }}</strong><br>
                      of {{ booking.startDate | date ('d/m/Y')}}  to
                         {{ booking.endDate | date ('d/m/Y')}} 
                         ({{ booking.amount }}&euro;)  
                  </p>
                  <a href="{{ path('booking_show', {'id' : booking.id })}}" class="btn btn-info">More info </a>
               </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

