{% extends 'base.html.twig' %}

{% block title %} Booking number {{ booking.id }}{% endblock %}

{% block body %}

{% set ad = booking.ad %}
{% set author = ad.author %}
   <div class="container">
      <h1 class="my-5">Your Booking number {{ booking.id }}</h1>

      {% if app.request.query.get('withAlert') %}
            <div class="alert alert-success">
                <h4 class="alert-heading">Well done !</h4>
                <p>Your Bookin with 
                   <strong><a href="{{ path('user_show', {'slug' : author.slug })}}">{{ author.fullName }}</a></strong>
                   for ad 
                   <strong>
                     <a href="{{ path('ads_show', {'slug': ad.slug }) }}">{{ ad.title }}</a>
                   </strong>
                   
                    has been taken into account
                </p>
            </div>
      {% endif %}

      <div class="row">
         <div class="col">
             <div class="alert alert-light">
                <h2>Details</h2>

                <dl class="row">
                   
                    <dt class="col-md-4">Number</dt>
                    <dd class="col-md-8">{{ booking.id }}</dd>
                    <dt class="col-md-4">Arrivel Date</dt>
                    <dd class="col-md-8">{{ booking.startDate | date('d/m/Y')}}</dd>
                    <dt class="col-md-4">End Date</dt>
                    <dd class="col-md-8">{{ booking.endDate | date('d/m/Y')}}</dd>
                    <dt class="col-md-4">Night Number</dt>
                    <dd class="col-md-8">{{ booking.duration }}</dd>
                    <dt class="col-md-4">Amount </dt>
                    <dd class="col-md-8">{{ booking.amount | number_format(2 , ',', ' ') }}&euro;</dd>
                    <dt class="col-md-4">Comment</dt>
                    <dd class="col-md-8">{{ booking.comment | default('No Comment ! ') }}</dd>       
                </dl>

                <hr>
                <h2 class="alert-heading">Your Host</h2>

                <div class="row mb-3">
                    <div class="col-3">
                        <img src="{{ author.picture }}" class="avatar avatar-medium" alt="{{ author.fullName }}">
                    </div>
                    <div class="col-9">
                        <h4>
                            <a href="{{ path('user_show', {'slug': author.slug }) }}">{{ author.fullName }}</a>
                        </h4>

                        <span class="badge badge-primary">
                          {{ author.ads | length }} Ads
                        </span>
                    </div>
                </div>
                {{ author.description | raw }}

                <a href="{{ path('user_show', {'slug': author.slug }) }}" class="btn btn-primary">More info about {{ author.firstName }}</a>
             </div>

             <div class="alert alert-light" id="comment">
                <h2 class="alert-heading">Your opinion matters to us </h2>

                {% if date() > date(booking.endDate) %}
                    {% set comment = booking.ad.commentFromAuthor(app.user) %}

                      {% if comment is not null %}
                            <blockquote>
                                {{ comment.content}}
                            </blockquote>
                            <strong>Note : </strong>
                            {% include 'partials/rating.html.twig' with { 'rating':comment.rating }%}
                       {% else %}
                         {{ form_start(form) }}
                         {{ form_widget(form) }}
                         <button type="submit" class="btn btn-success">Confirm your Comment</button>
                         {{ form_end(form) }}
                       {% endif %}
                    
                {% else %}
                    <p>You will not be able to rate this announcement until your trip is complete!</p>
                {% endif %}
               
             </div>
         </div>
         <div class="col">
             <div class="alert alert-light">
                <h2 class="alert-heading">Your accommodation</h2>
                <h4>
                    <a href="{{ path('ads_show', {'slug' : ad.slug })}}">{{ ad.title }}</a>
                </h4>

                <img src="{{ ad.coverImage }}" class="img-fluid" alt="Picture of {{ ad.title }}">

                {{ ad.content | raw }}

                 <a href="{{ path('ads_show', {'slug': ad.slug }) }}" class="btn btn-primary">More info</a>
             </div>
         </div>
      </div>
   </div>

{% endblock %}