{% extends 'admin/base.html.twig' %}

{% block title %} Update Comment {% endblock %}

{% block body %}
 <div class="container">
 
    <h1 class="my-5">  Update of Comment : {{ comment.id }} </h1>
         <div class="alert alert-info">
           <strong>Ad Title :</strong> {{comment.ad.title}} <br>
           <strong>Author :</strong> {{ comment.author.fullName }} <br>   
           <strong>Create in  :</strong> {{comment.createdAt | date('d/m/Y H:i')}} <br>
           <strong>Rated  :</strong> {{comment.rating }}
         </div>    


          {{ form_start(form) }}  
          
          {{ form_widget(form) }} 
            <button type="submit" class="btn btn-primary">
            <i class="fas fa-check"></i>
              Confirm Edit Comment
            </button>
           {{ form_end(form) }}   
    </div>
 </div>
{% endblock %}