{%  extends 'base.html.twig' %}

{% block title %}  Create one Ad  {% endblock %}

{% form_theme form 'ad/_collection.html.twig' %}
{% block body %}
    <div class="container">
       <h1 class="my-5">Create New Ad</h1>

        {{ form_start(form) }}

        <div class="row">
          <div class="col">
             <div class="alert alert-light">
                <h2>General info</h2>
                <hr>
                {{ form_row(form.title)}}
                {{ form_row(form.slug)}}
                {{ form_row(form.price)}}
                {{ form_row(form.rooms)}}
             </div>
             <div class="alert alert-light">
                <h2>Details of AD</h2>
                <hr>
                 {{ form_row(form.introduction)}}
                {{ form_row(form.content)}}
             </div>
          </div>
          <div class="col">
              <div class="alert alert-light">
                   <h2>Picture of Ad</h2>
                   <hr>
                     {{ form_row(form.coverImage)}}
                     {{ form_row(form.images)}}    
              </div>
          </div>
        </div>
        <div class="alert alert-success clearfix">
           <h2 class="alert-heading">Save My Ad</h2>
           <p> You are about to create your ad, we are proud of you</p>
           <button type="submit" class="btn btn-primary float-right">
              <i class="fas fa-check"></i>
              Create New Ad
            </button>
        </div>
        
       {{ form_end(form) }}
    </div>
{% endblock %}



{% block javascripts %}
    <script src="/js/ad.js">
     
    </script>
{% endblock %}




